@import './animate';
@import './pure';
@import './ripple';
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}

.router-view {
    width: 100%;
    height: 93%;
    padding: 1em;
    box-sizing: border-box;
    background-color: #B0BEC5;
}

.dib {
    display: inline-block;
}

.va-t {
    vertical-align: top;
}